$break-points: (max-size: 1000px, medium-size: 768px, min-size: 425px);
// END vars declaration
*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2 {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    padding-bottom: 30px;
}

h1 {
    font-family: 'PT Serif';
    font-size: clamp(2.25rem, 5vw, 3rem);
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.045em;
    text-align: left;
}

h2 {
    font-family: Poppins;
    font-size: clamp(1.125rem, 4.5vw, 2rem);
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

p {
    font-size: clamp(1rem, 4vw, 1.5rem);
    white-space: normal;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
    letter-spacing: 0em;
    text-align: left;
}
#by-user {
    font-family: Montserrat;
    font-size: calc(.8rem + .07vmin);
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #BDBDBD;
    padding: 10px 0;
  }

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: calc(71px + 3vmin);
    margin-bottom: 38px;
    flex: 1 1 300px;
    .about {
        width: 60%;
        &__title {
            margin-top: 0;
        }
    }
}

.title-level1 {
    margin-bottom: 38px;
}

.wrapper {
    max-width: map-get($map: $break-points, $key: max-size);
    margin: auto;
    overflow: hidden;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    @media screen and (min-width: map-get($map: $break-points, $key: medium-size)) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    &__item {
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        span {
            font-family: 'PT Serif';
            font-size: .0.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 13px;
            letter-spacing: 0em;
            text-align: left;
        }
        span.job {
            position: absolute;
            right: 0;
            top: 0;
            transform-origin: top right;
            transform: rotateZ(90deg) translate(100%);
        }
    }
    &__item img {
        display: inline-block;
        width: 100%;
    }
    &__item:nth-child(2n) {
        margin-top: 0;
        @media screen and (min-width: map-get($map: $break-points, $key: min-size)) {
            margin-top: calc(7vmin + 60px);
        }
    }
}